span{
	font-size: 20px;
  color: rgb(0,181,156);
}
body{
  font-family: 'Open Sans', sans-serif;
  background:#e2e2e2;
}
#foto{
	margin-left: 20px;
  margin-top: 20px;
	height: 120px;
	width: 120px;

}
input, select{
	height: 50px!important;
	font-family: sans-serif ,!important;
	font-size: 20px!important;
}
select:hover{
	color:rgb(255,87,34);
}
input:hover{
	color: rgb(255,87,34);
}
span:hover{
  color: #ff5722!important;
}
.container{
  margin-top:80px;
  left:45%;
  margin-bottom:80px;
  background:rgba(255,255,255,0.8)!important;
  border-radius:25px;
  overflow:hidden;
}
.form-control{  
  border-bottom:3px solid rgba(255,87,34,.7)!important;
  padding-left:20px;
  font-family: 'Open Sans', sans-serif;
  color:#858585;
  font-weight:lighter;
  -webkit-transition:.5s;
  transition:.5s;
}
.register{
	cursor:pointer; 
	float:right;
	width:50%;
	height:40px;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	background:#00B59C;
	font-size: 20px;
	font-weight: bold;
  margin:40px 0px 40px 0px!important;
}
.register:hover{
	background-color: rgba(0,181,156,.7)!important;
  color:white;
	font-weight: bold;
}
.cancel{
	cursor:pointer; 
	float:left;
	width:50%;
	height:40px;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	background:#ff5722;
	font-size: 20px;
	font-weight: bold;
  margin:40px 0px 40px 0px!important;
}
.cancel:hover{
	background-color: rgba(255,87,34,.7)!important;
  color:white;
	font-weight: bold;
}

h1{
	color: #00B59C;
	text-align: center;
	box-shadow: 30px 10px #00B59C;
  font-size: 50px;
}
.title{
	margin-bottom: 100px;
}
.contaner-fluid{
	text-align: center!important;	
}


